body{
    margin: 0;
}
.top-container{
    background-image: url("https://media.istockphoto.com/photos/shot-of-a-notebook-and-laptop-in-an-office-picture-id1336695502?k=20&m=1336695502&s=612x612&w=0&h=t9_R3UK-rxdfSWSvv82B1noqfpGTAodVJECmhiBACz4=");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-container h1{
    color: rgb(40, 54, 100);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.text{
    margin: 50px 5%;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: background-color 0.4s;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;
}
.navbar ul li a:hover{
    color: red;
}
.navbar.active{
    background: black;
}
.navbar.active ul li a {
    color: white;
}